<html>
<meta charset="utf-8">
<title>A short quiz</title>
<link rel="stylesheet" type="text/css" href="minimal.css">
	<body>
	<h2>
		You will be asked 5 questions.
		Please answer them to the best of your ability.
	</h2>
	<form method = 'get' action = '/' >
		<p>
	Name: <input type = 'text' name='name' />
		</p>
		<p>
	Age: <input type='text' name='age' />
		</p>
		<p>
	Surname: <input type='text' name='surname' />
		</p>
		<p>
	<input type='submit' value='Submit' />
		</p>
	</form>
</body>
</html>
